/*==========================================================================
Name        : index.css
Assignment  : Assignment 4
Author(s)   : Jaimal Sahota (30126909), Xicheng(Justin) Wang (30191121)
Submission  : Mar 25, 2024
===========================================================================*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Styles */
.title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.logo img {
  max-height: 50px;
}

/* Navigation Styles */
.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    width: 98%; 
}

/* About Us Section Styles */
.about-us {
  padding: 10px;
}

/* Customer Reviews Styles*/
.customer-reviews {
  padding: 10px;
}

/* Footer Styles */
.footer {
  padding: 10px;
}

/* ProductPage Styles*/
.ProductList {
  display:block;
  width: 70%;
}

.product-img{
  max-width: 100%; 
  height: 'auto';
}

.item-image {
  max-width: 50%; 
  height: 'auto';
}

.cart-item {
  display: block;
}

.cart {
  text-align: center;
}

.cart-title{
  text-align: center;
  font-size: 50px;
  font-style: italic;
}
